{{> head}}
{{> navbar}}
<div class="row">
     <div class="col-6">
    <h2>   About us  </h2>

     </div>
     <div class="class col-4">
         <img src="assets/img/uno.jpg" alt="imagen" class="thumbnails">
     </div>



</div>

{{> footer}}